/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-22, 09:37:42
    Author     : sznojman
*/
body{
    padding-top: 10vh;
}
.kafel
{
    height:90vh;
}
#kafel1
{
    //height:100vh;
    background: cornflowerblue;
}
#kafel2
{
    //height:100vh;
    background: appworkspace;
}
#welcome 
{
    //height: 100vh;
    background: black;
}
 
#projects 
{
    //height: 100vh;
    background: yellow;
}